@model MotoBest.Web.ViewModels.SearchAdvertsViewModel

<div class="display-4">Търсене на автомобили</div>

@foreach (var pair in Model.KeyValuePairs)
{
    <div class="my-4 h5 alert-light">
        <label>@pair.Key</label>

        @{
            string callback = pair.Key == "Марка" ? "onchange=updateModelsByBrand(this)" : string.Empty;
            string modelsId = pair.Key == "Модел" ? "id=models" : string.Empty;
        }

        <select @modelsId @callback class="custom-select alert-secondary">
            <option value="ss" selected="selected">Без значение</option>
            @foreach (string item in pair.Value)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
}

<script>
    function updateModelsByBrand(sender) {
        let data = { Brand: sender?.value };
        let token = "AVHSHIO_JDIAMSKJIOD_HKNEUIBN_SUBDLUS";

        $.ajax({
            url: "/Adverts/GetModelsByBrand",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { "X-CSRF-TOKEN": token },
            success: (json) => {
                const defaultOptionName = "Без значение";
                let models = document.querySelector("#models");
                models.innerHTML = STRING_EMPTY;
                json.unshift(defaultOptionName);

                for (let model of json) {
                    let option = document.createElement("option");
                    option.textContent = model;
                    option.value = model === defaultOptionName ? STRING_EMPTY : model;
                    models.appendChild(option);
                }
            }
        });
    }
</script>
